* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: inherit;
  border: none;
  --color-bg: #fff;
  --color-gray: #fafafa;
  --color-danger: #ff3b30;
  --color-yellow: #fc0;
  --color-success: #34c759;
  --color-black: #000000;
  --color-dark: #161617cc;
  --color-border: #e5e7eb;
  --color-gradient: linear-gradient(to left, #bdc3c7, #2c3e50);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: "Geist Mono Variable", monospace;
  overflow-x: hidden;
}

.journeypage {
  box-sizing: border-box;
  font-family: "Geist Mono Variable", monospace;
}

.journeysection {
  width: 70%;
  margin: 0 10% 0 20%;
  text-align: start;
}

.journeysection h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.journey-timeline {
  margin: 0 15%;
  padding: 10rem 0;
  position: relative;
}

.milestone {
  margin: 0rem auto;
}

.milestone--img {
  margin: 3rem 0;
  padding: 1.2rem 1rem 1rem 1rem;
  border: 1px solid var(--color-border);
  border-radius: 0.8rem;
  background: var(--color-gray);
}

.milestone--img img {
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.content {
  margin: 0 auto;
  display: grid;
  gap: 5%;
  grid-template-columns: 5% 5% 85%;
}

.roadcontainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.line {
  top: 0;
  left: 0%;
  width: 1px;
  height: 100%;
  background-color: #dddddd;
}

.dot {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  font-size: 1rem;
  aspect-ratio: 1/1;
  background-color: var(--color-black);
  border-radius: 50%;
  color: #fff;
}

.journey--details {
  text-align: justify;
  line-height: 1.5rem;
}

.journey--details h3 {
  margin: 0.5rem 0;
}

.window-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.window-controls {
  display: flex;
  justify-content: space-between;
  width: 2rem;
  z-index: 9;
  margin-bottom: 0.3rem;
  margin-top: -0.8rem;
}

.window-control {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--color-danger);
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.yellow {
  background-color: var(--color-yellow);
}

.green {
  background-color: var(--color-success);
}

@media only screen and (max-width: 1200px) {
  .journeypage {
    margin: 0 auto;
    width: 90%;
    padding: 10%;
  }
  .journeysection {
    margin: 0 auto;
    width: 100%;
  }
  .journey-timeline {
    margin: 0 auto;
    width: 90%;
  }
  .journeyyear {
    margin-right: 1rem;
    margin-top: 0;
  }

  .journey--details {
    display: flex;
    flex-direction: column-reverse;
  }
  .roadcontainer {
    margin-right: 2rem;
  }
  .milestone--img {
    width: 100%;
    padding: 0.8rem 0.25rem 0.25rem 0.25rem;
  }
}

@media only screen and (max-width: 500px) {
  .journeypage {
    margin: 0;
    width: 100%;
    padding: 0;
  }
  .journeypage h2 {
    font-size: 1rem;
  }

  .journeysection {
    width: 90%;
    padding: 1rem;
    margin: 0 auto;
  }
  .journey--details {
    margin-left: 2rem;
  }
  .journeyyear {
    margin-top: 1rem;
  }
  .roadcontainer {
    margin-right: 1rem;
  }
  .milestone--img {
    margin: 1rem auto;
  }
}
