.rating-container {
  padding: 1rem;
  width: fit-content;
  height: fit-content;
  transition: all 0.3s ease;
  margin: 3rem auto;
}

.rating-container:hover {
  filter: brightness(1.5);
}

.rating {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

.stars {
  color: rgba(200, 35, 215, 0.5);
}

.rating > div p {
  font-size: 1.875rem;
  margin: 0;
  padding: 0;
}

.explanation {
  grid-column: span 2;
  font-size: 0.875rem;
}

.testimonials-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: stretch;
  width: 60%;
  margin: 2rem auto;
  gap: 2rem;
}

.testimonial-item {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: stretch;
  text-align: center;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.2);
  color: lch(58.2 7.7 259);
  background-size: cover;
  transition: all 0.3s ease;
  box-shadow: 0 1px 100px rgba(94, 69, 255, 0.2);
  border: 1px solid rgba(94, 69, 255, 0.4);
  font-size: 0.9rem;
}

.testimonial-item:hover {
  color: #fff;
}

.testimonial-content {
  padding: 1rem 0.5rem;
  line-height: 1.875;
  font-size: 0.875rem;
  text-align: justify;
}

.testimonial-details {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: left;
}

.testimonial-img img {
  width: 2.5rem;
  height: auto;
  margin: 0 0.25rem;
  border-radius: 50%;
}

.testimonial-name {
  font-size: 0.85rem;
  padding: 0;
  margin: 0;
}

.testimonial-title {
  font-size: 0.75rem;
  filter: brightness(0.8);
  padding: 0;
  margin: 0;
}

@media (max-width: 1024px) {
  .testimonials-container {
    grid-template-columns: 1fr;
    width: 80%;
  }
  .rating-container {
    margin: 1rem auto;
  }
}
