.aboutsection {
  padding: 4rem 2rem;
  line-height: 2rem;
}

.about-grid {
  display: grid;
  grid-template-columns: 60% 30%;
  gap: 10%;
  margin: 0 auto;
}

.aboutme--img {
  margin: 0 auto;
  border-radius: 1rem;
  padding: 0.5rem;
}

.aboutme--img img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.aboutme-text p {
  text-align: justify;
  font-size: 1.125rem;
  color: #666;
  margin-bottom: 2rem;
}

.worktogether {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .aboutsection {
    margin: 0 auto;
    padding: 25% 10%;
  }
  .aboutme--img {
    width: 55%;
  }
}
