.contact--section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 4rem 2rem;
}

.contact-container {
  background: #fff;
  width: 100%;
}

.form-container {
  width: 90%;
}

.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  font-size: 1rem;
  z-index: 9;
  border-radius: 0.25rem;
  width: 100%;
}

.form-container form label {
  margin-bottom: 0.5rem;
  color: #373737;
  font-weight: 500;
}

.form-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #373737;
  font-family: inherit;
}

.form-container form input,
.form-container form textarea {
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  color: #161616;
  font-size: 1rem;
  background: #f0f0f0;
  border: 1px solid rgb(230, 230, 230);
  width: 100%;
}

.form-container form textarea {
  font-family: Inter, sans-serif;
  min-height: 10rem;
}

.confirmation-message {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confirmation-message p {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}
