.journeypage {
  padding: 4rem 2rem;
}

.journeysection {
  text-align: start;
}

.journeysection h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.journey-timeline {
  position: relative;
}

.milestone {
  margin: 0rem auto;
}

.milestone--img {
  margin: 3rem 0;

  border-radius: 0.8rem;
}

.milestone--img img {
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.content {
  margin: 0 auto;
  display: grid;
  gap: 5%;
  grid-template-columns: 5% 5% 80%;
}

.roadcontainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.line {
  top: 0;
  left: 0%;
  width: 1px;
  height: 100%;
  background-color: #dddddd;
}

.dot {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  font-size: 1rem;
}

.journey--details {
  text-align: justify;
  line-height: 1.5rem;
}

.journey--details h3 {
  margin: 0.5rem 0;
  color: #373737;
}

.journey--details p {
  color: #666;
}

.window-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.window-controls {
  display: flex;
  justify-content: space-between;
  width: 2rem;
  z-index: 9;
  margin-bottom: 0.3rem;
  margin-top: -0.8rem;
}

@media only screen and (max-width: 1200px) {
  .journeypage {
    margin: 0 auto;
    width: 90%;
    padding: 10%;
  }
  .journeysection {
    margin: 0 auto;
    width: 100%;
  }
  .journey-timeline {
    margin: 0 auto;
    width: 90%;
  }
  .journeyyear {
    margin-right: 1rem;
    margin-top: 0;
  }

  .journey--details {
    display: flex;
    flex-direction: column-reverse;
  }
  .roadcontainer {
    margin-right: 2rem;
  }
  .milestone--img {
    width: 100%;
    padding: 0.8rem 0.25rem 0.25rem 0.25rem;
  }
}

@media only screen and (max-width: 500px) {
  .journeypage {
    margin: 0;
    width: 100%;
    padding: 0;
  }
  .journeypage h2 {
    font-size: 1rem;
  }

  .journeysection {
    width: 90%;
    padding: 1rem;
    margin: 0 auto;
  }
  .journey--details {
    margin-left: 2rem;
  }
  .journeyyear {
    margin-top: 1rem;
  }
  .roadcontainer {
    margin-right: 1rem;
  }
  .milestone--img {
    margin: 1rem auto;
  }
}
