.recent-projects-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background: #f8f8f8;
  border-radius: 1rem;
  padding: 1rem;
}

.recent-projects-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
  color: #373737;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
}

.recent-projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
  justify-content: center;
  align-items: stretch;
}

.recent-project-item {
  position: relative;
  width: 100%;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: stretch;
  text-align: justify;
  background-size: cover;
  transition: all 0.3s ease;
  overflow: hidden;
  margin: 0.5rem 0;
  background: #fff;
  box-shadow: rgba(10, 10, 10, 0.06) 0px 1.2px 1.2px 0px,
    rgba(10, 10, 10, 0.04) 0px 5px 10px 0px;
  border-radius: 1rem;
  border: 1px solid rgb(230, 230, 230);
}

.recent-project-item:hover {
  transform: translateY(-5px);
  box-shadow: rgba(10, 10, 10, 0.15) 0px 2px 2px 0px,
    rgba(10, 10, 10, 0.1) 0px 8px 16px 0px;
}

.recent-project-title {
  color: #373737;
  font-weight: 600;
  font-size: 1.125rem;
}

.recent-project-details {
  position: relative;
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0.5rem 1rem;
  color: #666;
}

.recent-project-description {
  opacity: 1;
  transition: opacity 0.3s ease;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.recent-project-item.hovered .recent-project-description {
  opacity: 0;
}

.recent-project-img-container {
  display: grid;
  grid-template-columns: 75% 25%;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10rem;
  transition: transform 0.3s ease, clip-path 0.3s ease;
}

.recent-project-img,
.recent-project-img-mobile {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.5rem;
  transition: height 0.3s ease;
}

.recent-project-item.hovered .recent-project-img-container {
  clip-path: inset(0 0 0 0);
  transform: translateY(-50%);
  opacity: 1;
}

.recent-project-item.hovered .recent-project-img,
.recent-project-item.hovered .recent-project-img-mobile {
  height: 100%;
}

@media (max-width: 1024px) {
  .recent-projects-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .recent-project-item {
    margin: 1rem auto;
  }

  .recent-project-details {
    padding: 0.5rem;
  }

  .recent-project-img {
    width: 100%;
  }

  .recent-project-img-mobile {
    display: none;
  }

  .recent-project-img-container {
    flex-direction: column;
  }
}
