@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

.resume-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 2rem;
  color: #373737;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
}

.resume-section a:hover {
  text-decoration: underline;
  transition: all 300ms ease;
}

.resume-introsection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.intro-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.resume-name {
  font-size: 1.5rem;
  margin: 0;
  padding: 0.2rem 0;
}

.resume-title {
  color: #333;
  margin: 0;
  padding: 0.2rem 0;
}

.location {
  font-size: 0.75rem;
  padding: 0.25rem 0;
  margin: 0;
  color: #666;
}
.location a {
  font-family: "Roboto Mono", monospace;
}

.location svg {
  color: #000;
}

.profilephoto img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  width: 8rem;
  height: auto;
  object-fit: cover;
}

.resume-contact ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  list-style: none;
  gap: 0.25rem;
}

.resume-contact ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  padding: 0.5rem;
  text-decoration: none;
  color: #373737;
  margin-right: 0.5rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.25rem;
  transition: all 300ms ease;
}

.resume-contact ul li a:hover {
  background-color: #edebeb;
  color: #000;
}

.resume-sectiontitle {
  font-size: 1.25rem;
  padding: 0;
  margin: 1.5rem 0 0.5rem 0;
  color: #000;
}

.resume-about p {
  line-height: 1.5;
  padding: 0;
  margin: 0;
  text-align: justify;
  font-family: "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono",
    Menlo, Consolas, monospace;
  font-size: 0.9rem;
}

.resume-skills {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.resume-skill {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0 0.25rem;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  align-items: center;
  font-family: "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono",
    Menlo, Consolas, monospace;
}

.skillname {
  font-weight: 600;
  font-size: 0.875rem;
  margin: 0.25rem 0;
  padding: 0;
}

.resume-skill ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.resume-skill ul li {
  margin: 0 0.25rem;
  font-size: 0.875rem;
}

.resume-certification a {
  color: black;
  background: #e5e7eb;
  text-decoration: none;
  font-family: "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono",
    Menlo, Consolas, monospace;
  padding: 0 0.25rem;
  border-radius: 0.25rem;
}

.resume-certification a:hover {
  text-decoration: underline;
}

.certificate-desc {
  font-size: 0.9rem;
  font-family: "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono",
    Menlo, Consolas, monospace;
  text-align: justify;
}

.experience h3,
.education h3,
.project h3 {
  font-size: 1.25rem;
  margin: 0;
}

.experience-details p,
.education p,
.project p,
.edu-details p {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  font-family: "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono",
    Menlo, Consolas, monospace;
  text-align: justify;
}

.experience ul,
.project ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  padding: 0;
  list-style: none;
}

.experience ul li,
.project ul li {
  font-size: 0.85rem;
}

.experience-role {
  color: #030712;
  font-weight: 600;
}

.tech {
  background-color: #111827cc;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  color: #f9fafb;
  font-family: "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono",
    Menlo, Consolas, monospace;
}

.worktype {
  font-size: 0.85rem;
  background-color: #f3f4f6;
  color: #111827;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-family: "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono",
    Menlo, Consolas, monospace;
  font-weight: bold;
}

.experience-info,
.certification-info,
.project-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.25rem 0;
  font-size: 0.9rem;
}

.experience-info p {
  padding: 0.25rem 0;
  margin: 0.25rem 0;
}

#edu-institution {
  font-size: 1rem;
  font-weight: 600;
}

.edu-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edu-details p {
  font-family: "Inter", sans-serif;
}

.resume-projects {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: flex-start;
  align-items: stretch;
  text-align: left;
  gap: 0.5rem;
}

.resume-projects > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.project-tech {
  font-size: 0.75rem;
  background-color: #f3f4f6;
  color: #111827;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-family: "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono",
    Menlo, Consolas, monospace;
}

#project-name,
#experience-name {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #111827;
  transition: all 300ms ease;
}

#project-name:hover {
  background-color: #e5e7eb;
}

@media screen and (max-width: 600px) {
  .resume-introsection {
    flex-wrap: wrap-reverse;
  }

  .resume-projects {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
