.skills {
  padding: 0 0 10% 0;
}

.skillscontainer {
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
  justify-content: center;
}

.skillscontainer > div {
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0.5rem;
  font-size: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skillscontainer > div > p {
  font-size: 0.9rem;
}
