@import url("https://use.typekit.net/xkv0uns.css");

@import url("https://use.typekit.net/xkv0uns.css");

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: inherit;
  border: none;
  --color-bg: #fff;
  --color-gray: #fafafa;
  --color-danger: #ff3b30;
  --color-yellow: #fc0;
  --color-success: #34c759;
  --color-black: #000000;
  --color-dark: #161617cc;
  --color-border: #e5e7eb;
  --color-gradient: linear-gradient(to left, #bdc3c7, #2c3e50);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "neue-haas-grotesk-text", sans-serif;
  overflow-x: hidden;
  margin: 0;
  width: 100%;
  background: linear-gradient(
    0deg,
    #161a1d 0%,
    #161c21 40%,
    #16212c 60%,
    #16222c 70%,
    #161c21 90%,
    #161a1d 100%
  );
  background-repeat: no-repeat;
  color: lch(58.2 7.7 259);
  background-size: cover;
}

.btn,
a {
  color: #fff;
}

@media only screen and (max-width: 1200px) {
  body {
    background-size: 100% 100%;
    margin: 0;
    width: 100%;
    margin: 0 auto;
  }
}
