@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html {
  font-size: 16px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  width: 70%;
  background-color: #f8f8f8;
  background-repeat: no-repeat;
  color: #090e14;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  background-color: #fff;
  width: 100%;
  margin: 8rem;
  border-radius: 1rem;
  box-shadow: rgba(10, 10, 10, 0.06) 0px 1.2px 1.2px 0px,
    rgba(10, 10, 10, 0.04) 0px 5px 10px 0px;
  border: 1px solid rgb(230, 230, 230);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  width: 90%;
  margin: 0 auto;
}

.sectiontitle {
  font-size: 2.25rem;
  text-align: left;
  margin: 1rem 0;
  color: #373737;
  font-weight: 600;
  letter-spacing: -0.1rem;
}

button,
a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  color: inherit;
}

.button {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  border: 0;
  padding: 0.5rem 1rem;
  box-shadow: rgba(10, 10, 10, 0.06) 0px 1.2px 1.2px 0px,
    rgba(10, 10, 10, 0.04) 0px 5px 10px 0px;
  color: #0a0a0a;
  background: #fff;
  border-radius: 0.5rem;
  border: 1px solid rgb(230, 230, 230);
  font-family: "Inter", sans-serif;
  transition: all 300ms ease-in-out;
}

.button:hover {
  box-shadow: rgba(10, 10, 10, 0.15) 0px 2px 2px 0px,
    rgba(10, 10, 10, 0.1) 0px 8px 16px 0px;
  background: #f0f0f0;
}

.button-pulsating {
  position: relative;
}

.button-pulsating:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: pulsating 2s infinite;
  outline: 4px double hsla(0, 0%, 50%, 0.2);
  border-radius: inherit;
  background: transparent;
  content: "";
  transform-origin: center;
}

@keyframes pulsating {
  0% {
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    outline: 4px double hsla(0, 0%, 50%, 0.333);
  }
  90% {
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    outline: 4px double hsla(0, 0%, 50%, 0);
  }
  100% {
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    outline: 4px double hsla(0, 0%, 50%, 0);
  }
}
