@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: "Inter", sans-serif;
  --font-roboto-mono: "Roboto Mono", monospace;
  --font-sfmono: "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono",
    Menlo, Consolas, monospace;
}

a,
button {
  font-family: inherit;
}

.resume-body {
  font-family: var(--font-roboto-mono);
  @apply flex justify-start items-start bg-white text-black w-full p-0;
}

.resume-container {
  @apply flex flex-col items-center w-full  mx-auto p-8;
}

.resume-content {
  @apply bg-transparent shadow-none border-none p-0;
}

.sectiontitle {
  @apply text-[2.25rem] text-left my-4 text-[#373737] font-semibold tracking-tight;
}

a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  color: inherit;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

@media (max-width: 1200px) {
  .resume-body {
    @apply w-full;
  }
}
